[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[user]
	name = armi3
	email = fernandagonzalez@ufm.edu

[core]
	editor = vim
	excludesfile = $DOTFILES/git/.gitignore

[credential]
	helper = osxkeychain

[http]
	postBuffer = 157286400

[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status using the short format
	s = status -s

	# Commit all changes
	ca = !git add -A && git commit -m

